.filter-component {
  flex: 0 0 200px;
  height: inherit;
  box-sizing: border-box;
  padding: 15px;
  border-right: 1px solid black;
  background-color: rgb(110, 181, 252);
}

.filter-category {
  text-align: left;
}

.filter-category > span {
  text-transform: capitalize;
  font-size: 2rem;
}

.filter-category > ul {
  list-style: none;
  padding: 0;
}

.filter-category > ul > li {
  margin: 5px 0;
}

.filter-category > ul > li > input {
  transform: scale(1.3);
}
